<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataBaseDirName" value="\Pmer"/>
		<add key="DataBaseFileName" value="\PmerDb.db"/>
		<add key="CodeRepos" value="https://github.com/jaywhen/Pmer"/>
		<add key="NewIssue" value="https://github.com/jaywhen/Pmer/issues/new"/>
    
    <!-- avatar root -->
    <add key="AvatarRoot" value="/assets"/>
    
    <!-- password avatar -->
    <add key="1password" value="/1password.png"/>
    <add key="amazon" value="/amazon.png"/>
    <add key="bilibili" value="/bilibili.png"/>
    <add key="coursera" value="/coursera.png"/>
    <add key="dingding" value="/dingding.png"/>
    <add key="dribbble" value="/dribbble.png"/>
    <add key="facebook" value="/facebook.png"/>
    <add key="gitee" value="/gitee.png"/>
    <add key="github" value="/github.png"/>
    <add key="gmail" value="/gmail.png"/>
    <add key="instagram" value="/instagram.png"/>
    <add key="jetbrains" value="/jetbrains.png"/>
    <add key="leetcode" value="/leetcode.png"/>
    <add key="mysql" value="/mysql.png"/>
    <add key="paypal" value="/paypal.png"/>
    <add key="qq" value="/qq.png"/>
    <add key="twitter" value="/twitter.png"/>
    <add key="unity" value="/unity.png"/>
    <add key="v2ex" value="/v2ex.png"/>
    <add key="wechat" value="/wechat.png"/>
    <add key="weibo" value="/weibo.png"/>
    <add key="zhihu" value="/zhihu.png"/>
    <add key="default" value="/default.png"/>
  </appSettings>
</configuration>